DB_URL="mongodb+srv://spljif:hnXs8ncmmu228tnN@cluster0.nbymixo.mongodb.net/?retryWrites=true"
CLOUDINARY_NAME=dh1sahyu5
CLOUDINARY_KEY=386347288516641
CLOUDINARY_SECRET=tfQhIFjQKZeA_qpOUaZW2J7liWw
MAPBOX_TOKEN=pk.eyJ1IjoibWVsbG93eWVsbG93MDI0IiwiYSI6ImNsaDkwMHRuZTAyb2QzZnBkbjVkbGFsZTcifQ.ts-hlgtC_COwLfhKA8AyNg
SECRET=51a267d57688e01bc509588123d5a05b
PORT=10000