<% layout('layouts/start'); %>
<div class="text-center">
    <h1 class="">YelpCamp</h1>
    <p class="d-none d-md-block lead text-white"> 
    Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
    Feel free to share some of your own and comment on others!</p>
    <a href="/campgrounds" class="btn btn-lg btn-primary font-weight-bold mt-4">
    View Campgrounds
    </a>
</div>